altgraph==0.17
astroid==2.4.1
beautifulsoup4==4.9.0
bidict==0.21.2
cachelib==0.1.1
certifi==2020.4.5.1
chardet==3.0.4
Flask==1.1.2
Flask-Session==0.3.2
Flask-SocketIO==5.0.1
Flask-SQLAlchemy==2.4.4
future==0.18.2
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.18.4
pefile==2019.4.18
protobuf==3.12.4
pylint==2.5.2
pypiwin32==223
PySDL2==0.9.7
python-dateutil==2.8.1
python-engineio==4.0.0
pytz==2020.1
pywin32==227
pywin32-ctypes==0.2.0
six==1.14.0
soupsieve==2.0
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.9
Werkzeug==1.0.1
wrapt==1.12.1
