@keyframes moveLeft {
    from {
        left: 0%;
    }
    to {
        left: -20%;
    }
}
@keyframes moveRight {
    from {
        left: -20%;
    }
    to {
        left: 0%
    }
}
/* TO DARK MODE ANIMATIONS */
@keyframes bgGoDark {
    from {
        background-color: white;
    }
    to {
        background-color: black;
    }
}
@keyframes headingGoDark {
    from {
        color: black;
    }
    to {
        color:white;
    }
}
@keyframes sideBarGoDark {
    from {
        background-color: white;
    }
    to {
        background-color: rgb(31, 30, 30);
    }
}
@keyframes labelsGoDark {
    from {
        background-color: black;
    }
    to {
        background-color: white;
    }
}
@keyframes selectsGoDark {
    from {
        background-color: white;
    }
    to {
        background-color: rgb(31, 30, 30);
    }
}
@keyframes buttonGoDark {
    from {
        background-color: rgb(0, 105, 217);
    }
    to {
        background-color: darkblue;
    }
}
@keyframes inputGoDark {
    from {
        background-color: white;
        color: black;
    }
    to {
        background-color: rgb(31, 30, 30);
        color: white;
    }
}
/* TO LIGHT MODE ANIMATIONS */
@keyframes bgGoLight {
    from {
        background-color: black;
    }
    to {
        background-color: white;
    }
}
@keyframes headingGoLight {
    from {
        color: white;
    }
    to {
        color: black;
    }
}
@keyframes sideBarGoLight {
    from {
        background-color: rgb(31, 30, 30);
    }
    to {
        background-color: white;
    }
}
@keyframes buttonGoLight {
    from {
        background-color: darkblue;
    }
    to {
        background-color: rgb(0, 105, 217);
    }
}
@keyframes inputGoLight {
    from {
        background-color: rgb(31, 30, 30);
        color: white;
    }
    to {
        background-color: white;
        color: black;
    }
}
/* BUTTON ANIMATIONS */
@keyframes buttonSelected-Light {
    0% {
        border: 3px solid white;
    }
    50% {
        border: 3px solid blue;
    }
    100% {
        border: 3px solid white;
    }
}
@keyframes buttonSelected-Dark {
    0% {
        border: 3px solid rgb(31, 30, 30);
    }
    50% {
        border: 3px solid blue;
    }
    100% {
        border: 3px solid rgb(31, 30, 30);
    }
}
@keyframes move {
    from {
        left: 40%;
    }
    to {
        left: 80%
    }
}

#mainHeading {
    /* animation-name: move;
    animation-duration: 2s;
    animation-fill-mode: forwards; */
    position: fixed;
    left: 40%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    font-weight: 400;
}
#options {
    display: inline-block;
}
#colorPicker, #backgroundPicker {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 15%;
    width: 125px;
}
#canvasSizeInput {
    margin-bottom: 15%;
    background-color: rgb(31, 30, 30);
}
.canvas-size-constraint-text {
    display: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: orange;
    /* margin-bottom: 5%; */

}
#thicknessPicker-Point, #thicknessPicker-Eraser {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10%;
    width: 125px;
}
#hamburgerBtn {
    position: fixed;
    left: 0%;
    height: auto;
    width: auto;
    max-width: 40px;
    max-height: 40px;
}
#startOverBtn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20%;
    border: none;
}
#eraserBtn {
    animation-delay: 0.1s;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    cursor: pointer;
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
    border-radius: 30%;
    margin-right: 10%;
    margin-bottom: 10%;
}
#lockScrollBtn, #moveBtn {
    cursor: pointer;
    height: auto;
    width: auto;
    max-width: 40px;
    max-height: 40px;
}
#lockScrollBtn {
    margin-bottom: 10%;
}
#moveBtn {
    animation-delay: 0.1s;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    margin-right: 20%;
    border-radius: 35%;
}
#selectBtn  {
    animation-delay: 0.1s;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    cursor: pointer;
    height: auto;
    width: auto;
    max-width: 40px;
    max-height: 40px;
}
.side-bar-container {
    position: fixed;
    top: 7%;
    background-color: white;
    padding: 5px;
    width: 155px;
    border-radius: 10px;
}
.inputLabel {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    margin-left: 1%;
}
.container-1 {
    /* position: fixed;
    background-color: rgb(31, 30, 30);
    height: 100px; */
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

