<!DOCTYPE html>
<html>
    <head>
        <title>Drawing</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">

        <!-- D3 LIBRARY -->
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <!-- JQUERY -->
<!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    
    </head>
    <body>
        <div class="container-1">
            <div id="mainHeading"></div>
            <!-- SIDE BAR -->
            <img title="Side Bar" id="hamburgerBtn" src="{{ url_for('static', filename = 'Img/Hamburger_icon.svg.png') }}">
            <div class="side-bar-container" data-to_animate="Left">
                <br>
                <div id="options">
                    <!-- BACKGROUND PICKER -->
                    <label class="inputLabel">Background Color</label>
                    <select id="backgroundPicker" class="form-control">
                        <option id="white" value="white">White</option>
                        <option id="black" value="black">Black</option>
                    </select>
                    <!-- CANVAS SIZE -->
                    <label class="inputLabel">Canvas Size</label>
                    <input id="canvasSizeInput" class="form-control">
                    <div class="canvas-size-constraint-text">Min: 2000px</div>
                    <div class="canvas-size-constraint-text">Max: 5000px</div>
                    <!-- PEN COLOR PICKER -->
                    <label class="inputLabel">Pen Color</label>
                    <select id="colorPicker" class="form-control">
                        <option id="blackPen" value="black">Black</option>
                        <option id="whitePen" value="white">White</option>
                        <option value="red">Red</option>
                        <option value="blue">Blue</option>
                        <option value="green">Green</option>
                        <option value="yellow">Yellow</option>
                        <option value="orange">Orange</option>
                    </select>
                    <!-- THICKNESS PICKER - Point -->
                    <label id="thicknessLabel" class="inputLabel">Point Thickness</label>
                    <select id="thicknessPicker-Point" class="form-control">
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3 selected>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                    </select>
                    <!-- THICKNESS PICKER - Eraser -->
                    <select id="thicknessPicker-Eraser" class="form-control" style="display: none;">
                        <option value=10>10</option>
                        <option value=20>20</option>
                        <option value=30>30</option>
                        <option value=40>40</option>
                        <option value=50>50</option>
                    </select>
                    <!-- START OVER BUTTON -->
                    <button id="startOverBtn" class="btn btn-primary">Start Over</button>
                    <!-- ICON CONTAINER -->
                    <div class="icon-btn-container">
                        <!-- ERASER BUTTON -->
                        <img title="Eraser" id="eraserBtn" src="{{ url_for('static', filename = 'Img/black_eraser.svg') }}">
                        <!-- LOCK SCROLL BUTTON -->
                        <img title="Lock Scroll" id="lockScrollBtn" src="{{ url_for('static', filename = 'Img/black_lock_icon(unlock).svg') }}">
                        <!-- MOVE BUTTON -->
                        <img title="Move" id="moveBtn" src="{{ url_for('static', filename = 'Img/move(black).svg') }}">
                        <!-- SELECT BUTTON -->
                        <img title="Select" id="selectBtn" src="{{ url_for('static', filename = 'Img/select-rectangle(black).svg') }}">
                    </div>
                </div>
            </div> 
        </div>
        <svg id="draw"></svg>
    </body>
    <script src="{{ url_for('static', filename = 'main.js') }}"></script>
</html>
